
/*#region all*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

li {
    list-style-position: inside;
}

p, li {
    font-size: 1.1rem;
    color: rgb(98, 105, 135);
}

a {
    text-decoration: none;
    color: black;
}

hr {
    width: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: lighter;
}

h2 {
    font-size: 1.4rem;
    font-weight: normal;
}

h3 {
    font-size: 1.3rem;
    font-weight: normal;

}
/*#endregion*/

body {
    padding-top: 12vh;
}
/*#region header*/
header {
    background-color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;

    padding: 3vh 0;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 24px 0px rgba(156, 157, 184, 1);
    -moz-box-shadow: 0px 3px 24px 0px rgba(156, 157, 184, 1);
    box-shadow: 0px 3px 24px 0px rgba(156, 157, 184, 1);

}
#burger-active {
    display: none;
} 
.open-burger-button, .close-burger-button {
    display: none;
    
    @media (width <= 60rem) {
        display: block;
    }
}
.overlay {
    display: none;
}

#burger-active:checked ~ .overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#burger-active:checked ~ nav {
    right: 0;
}

nav {
    display: flex;
    @media (width <= 60rem) {
        position: fixed;
        flex-direction: column;
        top: 0;
        right: -100%;
        row-gap: 1.5rem;
 
        background-color: white;
        width: 65vw;
        transition: 1s;
        -webkit-box-shadow: 0px 3px 24px 0px rgba(156, 157, 184, 1);
        -moz-box-shadow: 0px 3px 24px 0px rgba(156, 157, 184, 1);
        box-shadow: 0px 3px 24px 0px rgba(156, 157, 184, 1);
    }
}

nav div {
    margin: auto 1vw;
}

#active-page a {
    color: rgb(100, 188, 243);
}

#active-page hr {
    opacity: 100%;
    width: 100%;
}


header hr {
    transition: 0.3s;
    margin: 0;
    border: 2px solid lightskyblue;
    width: 0%;
    opacity: 0%;
}

nav a {
    color: rgb(0, 58, 139);
    font-weight: normal;
    font-size: 1.2rem;
    transition: 0.3s;

}

nav a:hover {
    color: rgb(100, 188, 243);
}

nav a:hover + hr {
    opacity: 100%;
    width: 100%;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0px 3px 24px 0px rgba(156, 157, 184, 1);
    -moz-box-shadow: 0px 3px 24px 0px rgba(156, 157, 184, 1);
    box-shadow: 0px 3px 24px 0px rgba(156, 157, 184, 1);
    padding: 1rem;

    opacity: 0%;

}

.dropdown img {
    height: 1rem;
    width: auto;
}

.dropdown:hover .dropdown-content {
    opacity: 100%;
}

.dropdown-content:hover {
    background-color: rgb(100, 188, 243);
}

header img {
    height: 3rem;
    width: auto;
}

/*#endregion*/


/*#region main*/

.intro-wrap {
    display: flex;
    height: 83vh;
    
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(./imgs/BackGround.jpg);
    background-size: cover;
    background-position: center;

}

.intro {
    margin: auto;

    flex-direction: column;
    text-align: center;
}

.intro h1 {
    font-size: 4rem;
    @media (width <= 60rem) {
        font-size: 3.5rem;
    }

    font-weight: normal;
    color: white;
}

.intro h3, input{
    font-size: 1.2rem;
    color: white;
}

.intro input {
    background-color: rgb(93, 189, 222);
    border: none;
    border-radius: 2rem;
    cursor: pointer;

    padding: 0.8rem 1.5rem;
    margin-top: 1rem;

    transition: 0.3s;

}

/*-----------------------*/

.info {
    background-color: white;
    text-align: center;

    width: 76rem;
    
    margin: auto;
    margin-top: -3.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
    

    -webkit-box-shadow: 0px 3px 24px 0px rgba(156, 157, 184, 1);
    -moz-box-shadow: 0px 3px 24px 0px rgba(156, 157, 184, 1);
    box-shadow: 0px 3px 24px 0px rgba(156, 157, 184, 1);
    position: relative;

    @media (width <= 76rem) {
        width: 60rem;
    }

    @media (width <= 60rem) {
        width: auto;
        margin-left: 5vw;
        margin-right: 5vw;
        grid-template-columns: 1fr;

    }

}

.info h2 {
    font-size: 2.6rem;
    font-weight: lighter;
}

.info p {
    @media (width <= 60rem) {
        margin-left: 4vw;
        margin-right: 4vw;
    }
    
}

.info > div, .info-alt > div {
    align-items: center;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.info > div > img {
    width: 5rem;
    height: 5rem;
}

/*-----------------------*/

.bg-wrap {
    display: flex;
    background-color: rgb(248, 248, 248)
}

.partners {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    @media (width <= 60rem) {
        grid-template-columns: 1fr 1fr;
    }
}

.contacts {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    @media (width <= 60rem) {
        grid-template-columns: 1fr 1fr;
    }
}


.partners, .contacts{

    width: 70rem;

    margin: auto;
    display: grid;
    gap: 2rem;

    align-items: center;

}

.contacts-title {
    font-size: 2.3rem;
    text-align: center;
    grid-column: 1 / span 5;
    @media (width <= 60rem) {
        grid-column: 1 / span 2;
    }
}

.partners a, .contacts a{
    height: fit-content;
    width: fit-content;
}

.partners-top {
    text-align: center;

    grid-column: 1 / span 6;

    @media (width <= 60rem) {
        grid-column: 1 / span 2; 
    }
}

.partners-top-contacts {
    text-align: center;

    grid-column: 1 / span 5;
    
    @media (width <= 60rem) {
        grid-column: 1 / span 2;
    }
}

.partners img, .contacts img{
    margin: auto;
    width: 100%;
    height: auto;
}

.start-column4 {
    grid-column-start: 4;
    
    @media (width <= 60rem) {
        grid-column-start: 2;
    }
}

.start-column3 {
    grid-column-start: 3;
    
    @media (width <= 60rem) {
        grid-column-start: 1;
    }
}

.start-column2 {
    grid-column-start: 2;
    
    @media (width <= 60rem) {
        grid-column-start: 1;
    }
}

.start-column1 {
    grid-column-start: 1;
}

#partnersPic {
    height: 4rem;
    width: auto;
}

.partners-bot img{ 
    width: 3.5rem;
    height: 3.5rem;
}

.partners-bot {
    margin: 5rem auto 0;
    margin-top: 5rem;
}


/*#endregion*/

/*#region footer*/
footer {
    text-align: center;
}

footer, .partners, .info, .contacts {
    padding: 3rem 0;
}
/*#endregion*/

/*==================================================*/
/*#region Simple*/
.intro-simple {
    display: flex;
    justify-content: center;
    height: 30vh;
    
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(./imgs/BackGround.jpg);
    background-position: 50% 45%;
    background-size: cover;

}

.intro-simple h1 {
    text-align: center;

    margin: auto;
    width: 76vw;
    font-size: 2.5rem;
    font-size: clamp(2.5rem, 2rem + 2.5vw, 3.5rem);
    font-weight: normal;

    color: white;
}

/*#endregion*/

/*#region news*/
.info-alt {
    margin: 6vh auto;
    width: 76vw;
    justify-content: space-around;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

     @media (width <= 60rem) {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    column-gap: 1rem;

}

.info-alt > div {

    -webkit-box-shadow: 4px 4px 24px 0px rgb(188, 189, 222);
    -moz-box-shadow: 4px 4px 24px 0px rgb(188, 189, 222);
    box-shadow: 4px 4px 24px 0px rgb(188, 189, 222);

    gap: 1rem;
    background-color: white;
    border-radius: 1.3rem;
    padding: 2.8rem;

    display: grid;
    grid-template-rows: auto 1fr auto auto;
    text-align: start;
}

.info-alt p {
    width: 100%;
}

.info-alt a, .big-card a {
    color: rgb(100, 188, 243);
    font-size: 1.4rem;
    text-align: center;
}

.info-alt hr {
    opacity: 50%;
}
/*--------------------------------*/
.big-card {
    -webkit-box-shadow: 4px 4px 24px 0px rgb(188, 189, 222);
    -moz-box-shadow: 4px 4px 24px 0px rgb(188, 189, 222);
    box-shadow: 4px 4px 24px 0px rgb(188, 189, 222);
    display: flex;
    flex-direction: column;

    gap: 1rem;
    background-color: white;
    border-radius: 1.3rem;
    padding: 2.8rem;

    margin: 10vh auto;
    width: 76vw;

}

.line {
    width: 100%;
    border-bottom: 0.4rem dotted rgb(164, 209, 237);
}

.big-card img {
    width: 100%;
    height: auto;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto;
    
    align-items: center;
    justify-content: center;
}

.bottom-nav {
    display: flex;
}

.next-article {
    margin-left: auto;
    margin-right: 0;
}

.prev-article, .back-to-news {
    margin-left: 0;
    margin-right: auto;
}

/*#endregion*/

/*#region contacts*/

.card input {
    background-color: rgb(93, 189, 222);
    border: none;
    cursor: pointer;

    transition: 0.3s;


    font-size: 1rem;
    font-weight: 450;

    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.card {
    margin: 0 0.5rem;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 0.5rem;
    
    height: 100%;
    
}

.card img {
    width: 100%;
    height: auto;
    
    border-radius: 2rem;
}

.mobile-span2 {
    @media (width <= 60rem) {
        grid-column: span 2;
        width: 50%;
        height: auto;
        margin: auto;
    }
}
/*#endregion*/

input:hover {
    background-color: rgb(63, 115, 219);
}
/*cropped img!?!?!__-_--------___-*/
